<%= stylesheet_tag 'edit' %>
<script type="text/javascript">
// Variable: object WebSinkAuth;
// This is an internal object used for authenticating the websocket connection.
WebSinkAuth = {
    // Variable: int WebSinkAuth.id;
    // This is the websocket connection id. Each connection has a unique id.
    id:"<%= @client_id %>",
    // Variable: int WebSinkAuth.key;
    // This is a randomly generated string used as an API key.
    key:"<%= @client_key %>"
}
// Variable: object WebSinkData;
// This contains the data for the document. This is automatically synced with the server.
WebSinkData = <%= MultiJson.dump(@doc.body) %>;

// Set document title.
document.title = <%= @doc.name.inspect %> + " - WebSink";
</script>
<style media="print" type="text/css">
    body > * {
        display: none;
    }
    .content_well, .content_well * {
        display: block !important;
    }
</style>
<div class="menu">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/" data-toggle="tooltip" title="Produced by Outer Earth Interacttive" data-placement="bottom">WebSink</a>
				<ul class="nav">
					<li class="active"><a id="name" contenteditable="true"><%= @doc.name %></a></li>
				</ul>
				<ul id="ribbon_buttons" class="nav ribbon-opt">
				</ul>
                <div id="ribbon_button_active"></div>
				<ul id="settings" class="nav pull-right ribbon-opt">
					<li class>
                        <a id="settingsBtn" title="Settings"><i class="icon-cog icon-large"></i></a>
                    </li>
					<li class>
                        <%= render_login_button %>
                    </li>
				</ul>
                <div class="popover fade bottom in settings-popup"><div class="arrow"></div><h3 class="popover-title">Settings<a class="close pull-right"><i class="icon-remove"></i></a></h3><div class="popover-content">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Property</th>
                                <th>Global Setting</th>
                                <th>Document Setting</th>
                            </tr>
                            <tr>
                                <td>Use spaces instead of tabs</td>
                                <td><select>
                                    <option>True</option>
                                    <option>False</option>
                                </select></td>
                                <td><div class='input-append'><select>
                                    <option>Use Global</option>
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                                <button class="btn btn-warning">Override</button></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div></div>

			</div>
		</div>
		<div class="ribbon">
			<div id="File" class="container">
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-cloud-download"></i> Download <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="download/docx">Microsoft Word (.docx)</a></li>
                        <li><a href="download/pdf">PDF (.pdf)</a></li>
                        <li><a href="download/html">HTML (.html)</a></li>
                        <li><a href="download/odt">Libre Office (.odt)</a></li>
                        <li><a href="download/txt">Raw Text (.txt)</a></li>
                    </ul>
                </div>
                <a href="json" class="btn"><i class="icon-eye-open"></i> JSON</a>
                <select id="zoom_level" title="Zoom Level" class="ribbon_button">
					<option>50%</option>
					<option>80%</option>
					<option>90%</option>
					<option selected>100%</option>
					<option>120%</option>
					<option>150%</option>
					<option>200%</option>
				</select>
                <select id="view_mode" title="View Mode" class="ribbon_button">
					<option>Normal</option>
					<option>Zen</option>
				</select>
                <select id="public_mode" title="Publicly Accessable" class="ribbon_button">
					<option>Public</option>
					<option>Private</option>
				</select>
                <a href="delete" class="btn btn-danger"><i class="icon-trash "></i> Delete</a>
			</div>
			<div id="Insert" class="container">
				<button id="picture" title="Picture" class="btn"><i class="icon-picture"></i></button>
			</div>
		</div>
	</div>
</div>
<div class="content_well">
	<div class="content">
		<div class="page"></div>
	</div>
</div>
<div id="alert_well">
</div>
<%= javascript_tag 'bundle-edit' %>
