<% backgrounds = %w(uJc40Ne K2NLC7J olOM46q PSErBoS LCEBoBF uhRdzTv IK5mxVX) %>
<div class="centered_alert big-head" style="background-image: url(http://i.imgur.com/<%= backgrounds[rand(backgrounds.length)] %>.png)">
    <div>
        <div>
            <div class="head-content">
                <% if rand(2)==1 %>
                    <h1>That's <%= defined?(error) ? "a #{error}" : "an" %> error, Harry!</h1>
                <% else %>
                    <h1>I'm afraid that's <%= defined?(error) ? "a #{error}" : "an" %> error, Dave.</h1>
                <% end %>
                <p class="lead">
                    <% if defined?(reason) %>
                        <%= t "error.error" %>: <%= reason %><br>
                    <% end %>
                    <%= t 'error.weird' %>
                </p>
                <a class="btn btn-default" href="https://github.com/d4l3k/WebSync/issues/new"><%= t "error.new_issue" %></a>
                <a class="btn btn-primary" href="/"><%= t "error.return_home" %></a>
            </div>
        </div>
    </div>
</div>

