<%
user ||= current_user

sort = "recent"
sort_modes = %w(owner name recent, size)
invert = false
request.params.each do |k, v|
    if sort_modes.include? k
        sort = k
    elsif k == "invert"
        invert = true
    end
end
options ||= {}
options[:parent] = nil
order = :edit_time
order = :name if sort == "name"
sort_up = !invert
sort_up = invert if sort=="recent"
options[:order] = [sort_up ? order.asc : order.desc]
options[:deleted] ||= false
docs = WSFile.all({visibility: "public"}.merge(options)) if defined?(shared) and shared
docs ||= user.files options

docs = docs.sort do |a,b|
    if invert
        a.size <=> b.size
    else
        b.size <=> a.size
    end
end if sort=="size"

docs = docs.sort do |a,b|
    owner_a = a.owner
    owner_b = b.owner
    # Always put the orphaned document at the bottom.
    if owner_a.nil? or owner_b.nil?
        if owner_a.nil?
            1<=>0
        else
            0<=>1
        end
    elsif invert
        owner_a.email <=> owner_b.email
    else
        owner_b.email <=> owner_a.email
    end
end if sort == "owner"


headers = %w{name owner recent size}

def path p
  request.path == p ? 'class="active"' : ''
end

%>
<div class="file_list">
  <div class="menu">
    <ul class="nav nav-pills nav-stacked">
      <%= erb :upload_buttons %>
      <li role="presentation" <%= path '/' %> ><a href="/"><%= t "files.mine" %></a></li>
      <li role="presentation" <%= path '/public' %> ><a href="/public"><%= t "files.public" %></a></li>
      <li role="presentation" <%= path '/deleted' %> ><a href="/deleted"><%= t "recover" %></a></li>
    </ul>
  </div>
  <div class="files">
    <table class="table table-hover table-click">
        <thead>
            <tr>
                <% headers.each do |url|

                %>
                    <th><a href="?<%= url + ( (invert or sort != url) ? "" : "&invert" )%>">
                        <%= t("files.#{url}") %>
                        <% if sort == url %>
                            <i class="fa fa-sort-<%= !sort_up ? "asc" : "desc" %>"></i>
                        <% end %>
                    </a></th>
                <% end %>
                <th style="width: 1px"><span class="hidden-xs"><%= t "files.actions" %></span></th>
            </tr>
        </thead>
        <tbody>
            <% docs.each do |doc|
                path = doc.directory? ? "/webdav/#{doc.name}/" : "/#{doc.id.encode62}/edit"
            %>
                <tr>
                    <td><a href="<%= path %>"><%= doc.name.length > 0 ? h(doc.name) : "<i>Unnamed File</i>" %><%= doc.directory? ? "/" : "" %></a></td>
                    <% owner = doc.permissions(level: "owner").user %>
                    <td><%= doc.permissions(level: "owner").user[0]==current_user ? t("you") : (owner.length > 0 ? h(owner[0].email) : "<i>#{t "files.orphaned"}</i>") %></td>
                    <td><%= l doc.edit_time %></td>
                    <td><%= doc.as_size %></td>
                    <td class="actions">
                    <% if doc.permissions(level: "owner").user[0]==current_user %>
                            <% if options[:deleted] %>
                                <a href="/<%= doc.id.encode62 %>/undelete" class="btn btn-default"><%= t "files.restore" %></a>
                                <a href="/<%= doc.id.encode62 %>/destroy" class="btn btn-danger"><i class="fa fa-trash-o"></i><span class="hidden-xs"> <%= t "files.obliterate" %></span></a>
                            <% else %>
                                <a href="/<%= doc.id.encode62 %>/delete" class="btn btn-danger"><i class="fa fa-trash-o"></i><span class="hidden-xs"> <%= t "files.delete" %></span></a>
                            <% end %>
                    <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
  </div>
</div>
