<%
def path p
  request.path == p ? 'class="active"' : ''
end

%>
<div class="file_list">
  <div class="menu">
    <ul class="nav nav-pills nav-stacked">
      <%= erb :upload_buttons %>
      <li role="presentation" <%= path '/' %> ><a href="/"><%= t "files.mine" %></a></li>
      <li role="presentation" <%= path '/public' %> ><a href="/public"><%= t "files.public" %></a></li>
      <li role="presentation" <%= path '/deleted' %> ><a href="/deleted"><%= t "recover" %></a></li>
    </ul>
  </div>
  <div class="files">
    <div class="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="<%= t('search.search') %>">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button"><%= t('search.search') %></button>
        </span>
      </div><!-- /input-group -->
    </div>
    <table class="table table-hover table-click"></table>
  </div>
  <%= javascript_tag 'file_browser.js' %>
</div>
