<%
user ||= current_user

sort = "recent"
sort_modes = %w(owner name recent, size)
invert = false
request.params.each do |k, v|
    if sort_modes.include? k
        sort = k
    elsif k == "invert"
        invert = true
    end
end
options ||= {}
order = :last_edit_time
order = :name if sort == "name"
order = :user_email if sort == "owner"
sort_up = !invert
sort_up = invert if sort=="recent"
options[:order] = [sort_up ? order.asc : order.desc]
options[:deleted] ||= false
docs = Document.all({visibility: "public"}.merge(options)) if defined?(shared) and shared
docs ||= user.documents options

docs = docs.sort do |a,b|
    if invert
        a.size <=> b.size
    else
        b.size <=> a.size
    end
end if sort=="size"


headers = { "Name" => "name", "Owner" =>  "owner", "Last Modified" => "recent", "Size" => "size" }

%>
<table class="table table-bordered table-hover table-click">
    <thead>
        <tr>
            <% headers.each do |title, url| 
                
            %>
                <th><a href="?<%= url + ( (invert or sort != url) ? "" : "&invert" )%>">
                    <%= title %>
                    <% if sort == url %>
                        <i class="fa fa-sort-<%= !sort_up ? "asc" : "desc" %>"></i>
                    <% end %>
                </a></th>
            <% end %>
            <th style="width: 1px">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% docs.each do |doc| %>
            <tr>
                <td><a href="/<%= doc.id.encode62 %>/edit"><%= h(doc.name) %></a></td>
                <td><%= doc.permissions(level: "owner").user[0]==current_user ? "You" : h(doc.permissions(level: "owner").user[0].email) %></td>
                <td><%= doc.last_edit_time.strftime("%m/%d/%Y at %I:%M%p") %></td>
                <td><%= doc.as_size %></td>
                <% if doc.permissions(level: "owner").user[0]==current_user %>
                    <td class="actions">
                        <% if options[:deleted] %>
                            <a href="/<%= doc.id.encode62 %>/undelete" class="btn btn-default">Restore</a>
                            <a href="/<%= doc.id.encode62 %>/destroy" class="btn btn-danger"><i class="fa fa-trash-o"></i> Obliterate</a>
                        <% else %>
                            <a href="/<%= doc.id.encode62 %>/delete" class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
                        <% end %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
