<%
user ||= current_user

sort = "recent"
sort_modes = %w(owner name recent, size)
invert = false
request.params.each do |k, v|
    if sort_modes.include? k
        sort = k
    elsif k == "invert"
        invert = true
    end
end
options ||= {}
options[:parent] = nil
order = :edit_time
order = :name if sort == "name"
order = :user_email if sort == "owner"
sort_up = !invert
sort_up = invert if sort=="recent"
options[:order] = [sort_up ? order.asc : order.desc]
options[:deleted] ||= false
docs = WSFile.all({visibility: "public"}.merge(options)) if defined?(shared) and shared
docs ||= user.files options

docs = docs.sort do |a,b|
    if invert
        a.size <=> b.size
    else
        b.size <=> a.size
    end
end if sort=="size"


headers = { "Name" => "name", "Owner" =>  "owner", "<span class='hidden-xs'>Last </span>Modified" => "recent", "Size" => "size" }

%>
<table class="table table-bordered table-hover table-click">
    <thead>
        <tr>
            <% headers.each do |title, url|

            %>
                <th><a href="?<%= url + ( (invert or sort != url) ? "" : "&invert" )%>">
                    <%= title %>
                    <% if sort == url %>
                        <i class="fa fa-sort-<%= !sort_up ? "asc" : "desc" %>"></i>
                    <% end %>
                </a></th>
            <% end %>
            <th style="width: 1px"><span class="hidden-xs">Actions</span></th>
        </tr>
    </thead>
    <tbody>
        <% docs.each do |doc|
            path = doc.directory? ? "/webdav/#{doc.name}/" : "/#{doc.id.encode62}/edit"
        %>
            <tr>
                <td><a href="<%= path %>"><%= doc.name.length > 0 ? h(doc.name) : "<i>Unnamed File</i>" %><%= doc.directory? ? "/" : "" %></a></td>
                <% owner = doc.permissions(level: "owner").user %>
                <td><%= doc.permissions(level: "owner").user[0]==current_user ? "You" : (owner.length > 0 ? h(owner[0].email) : "<i>Orphaned</i>") %></td>
                <td><%= doc.edit_time.strftime("%m/%d/%y at %I:%M%p") %></td>
                <td><%= doc.as_size %></td>
                <td class="actions">
                <% if doc.permissions(level: "owner").user[0]==current_user %>
                        <% if options[:deleted] %>
                            <a href="/<%= doc.id.encode62 %>/undelete" class="btn btn-default">Restore</a>
                            <a href="/<%= doc.id.encode62 %>/destroy" class="btn btn-danger"><i class="fa fa-trash-o"></i><span class="hidden-xs"> Obliterate</span></a>
                        <% else %>
                            <a href="/<%= doc.id.encode62 %>/delete" class="btn btn-danger"><i class="fa fa-trash-o"></i><span class="hidden-xs"> Delete</span></a>
                        <% end %>
                <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
