<%= erb :nicehead %>
<div class="container-fluid promo">
    <div class="row">
        <% items = {Notebook: ["note.png", "pencil"], Presentation: ["presentation.png", "picture-o"], Document: ["document.png", "file-o"], Spreadsheet: ["spreadsheet.png", "table"]} %>
        <% items.each do |type, dat| %>
            <div class="col-md-3 col-sm-6">
                <h3><i class="fa fa-<%= dat[1] %>"></i> <%= type.to_s %> <a href="/new/<%= AssetGroup.first(name: type).id %>" class="btn btn-default">Create</a></h3>
                <img src="img/index/<%= dat[0] %>" style="width: 100%" class="img-thumbnail">
            </div>
        <% end %>
    </div>
</div>
<div class="container">
    <div class="row features">
        <div class="col-md-3 col-sm-6">
            <h3><i class="fa fa-pencil"></i> Note Taking</h3>
            <span>A limitation of Google Drive is not having a note taking application and a reason WebSync was created. WebSync makes up for this by providing a OneNote-esqe Notebook file type.</span>
        </div>
        <div class="col-md-3 col-sm-6">
            <h3><i class="fa fa-refresh"></i> Collaborative Work</h3>
            <span>WebSync has real time collaborative editing built in. You can work on things with as many people as you want and use the built in chat to collaborate.</span>
        </div>
        <div class="col-md-3 col-sm-6">
            <h3><i class="fa fa-eye-slash"></i> Self Host</h3>
            <span>You can host WebSync yourself and be sure that no one but you is looking at your data. Self hosting eliminates the service provider that could be knowingly or unknowingly letting the government spy on you.</span>
        </div>
        <div class="col-md-3 col-sm-6">
            <h3><i class="fa fa-camera-retro"></i> Incremental Backups</h3>
            <span>WebSync automatically records all your changes as they happen. Accidentally delete something? You can rollback to any point in time in just three clicks.</span>
        </div>
    </div>
    <div class="row features">
        <div class="col-md-3 col-sm-6">
            <h3><i class="fa fa-female"></i> Gravatar</h3>
            <span>WebSync uses Gravatar allowing you to use the same profile and photo across numerous sites.</span>
        </div>
        <div class="col-md-3 col-sm-6">
            <h3><i class="fa fa-gears"></i> Equations</h3>
            <span>The equation plugin allows you to seamlessly use L<sup>A</sup>T<sub>E</sub>X notation in all of your documents. This is powered by <a href="http://mathquill.com/">MathQuill</a>--an interactive editor library.</span>
        </div>
        <div class="col-md-3 col-sm-6">
            <h3><i class="fa fa-code"></i> Plugin Based</h3>
            <span>WebSync is a plugin based system. All of the editing tools and document types are in their own files. This allows the same code to work on all of your documents, or just on the ones you specify.</span>
        </div>
        <div class="col-md-3 col-sm-6">
            <h3><i class="fa fa-keyboard-o"></i> Open Source</h3>
            <span>WebSync is open source and can be modified in any way you like. If you're a programmer, you can add that one feature you've always wanted. <i class="fa fa-smile-o"></i></span>
        </div>
    </div>
</div>
<footer >
    <div class="container">
        <div class="row">
            <p>
                <i>Works with Chrome, Firefox, Opera, and other modern browsers.</i>
            </p>
            <p>
                
                Copyright © 2014 Tristan Rice. WebSync is licensed under the <a href="http://opensource.org/licenses/MIT">MIT License</a>.
            </p>
        </div>
    </div>
</div>
<a href="https://github.com/d4l3k/WebSync" class="hidden-xs fork-me"></a>

