<%= erb :nicehead %>
<div class="container-fluid promo">
    <div class="row">
        <% items = {Notebook: ["note.png", "pencil"], Presentation: ["presentation.png", "picture-o"], Document: ["document.png", "file-o"], Spreadsheet: ["spreadsheet.png", "table"]} %>
        <% items.each do |type, dat| %>
            <div class="col-md-3 col-sm-6">
                <h3><i class="fa fa-<%= dat[1] %>"></i> <%= type.to_s %> <a href="/new/<%= AssetGroup.first(name: type).id %>" class="btn btn-default">Create</a></h3>
                <img src="img/index/<%= dat[0] %>" style="width: 100%" class="img-thumbnail">
            </div>
        <% end %>
    </div>
</div>
<div class="container">
    <div class="row features">
        <div class="col-md-4">
            <h3><i class="fa fa-refresh"></i> Collaborative Work</h3>
            <span>WebSync has real time collaborative editing built in. You can work on things with as many people as you want.</span>
        </div>
    </div>
</div>
<footer >
    <div class="container">
        <div class="row">
            <p>
                <i>Works with Chrome, Firefox, Opera, and other modern browsers.</i>
            </p>
            <p>
                
                Copyright © 2014 Tristan Rice. WebSync is licensed under the <a href="http://opensource.org/licenses/MIT">MIT License</a>.
            </p>
        </div>
    </div>
</div>
<a href="https://github.com/d4l3k/WebSync" class="hidden-xs"><img style="z-index:90000; position: fixed; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub"></a>
