<div class="container">
    <style>
        html {
            overflow-y: auto;
        }
        .hero-unit {
            margin-top: 30px;
        }
    </style>
    <div class="hero-unit">
        <h1>Welcome to Web-Sync</h1>
        <p>
            Made by <a href="http://outerearth.net">Outer Earth Interactive</a>
        </p>
        <p>
            <a href="/new" class='btn btn-primary btn-large'>Create a Document <i class="icon-file-alt"></i></a> or <a href="/documentation" class='btn btn-info btn-large'>View Javascript Documentation</a>
        </p>
    </div>
    <table class="table table-bordered table-hover table-click">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Last Modified</th>
                <th>Created</th>
                <th>Public</th>
        </thead>
        <tbody>
            <% Document.all.each do |doc| %>
                <%
                    color = 'error'
                    if doc.user==current_user
                        color = 'success'
                    elsif doc.public
                        color = 'info'
                    end
                %>
                <tr class="<%= color %>">
                    <td><%= doc.id.base62_encode %></td>
                    <td><%= doc.name %></td>
                    <td><%= doc.user.email %></td>
                    <td><%= doc.last_edit_time.strftime("%m/%d/%Y at %I:%M%p") %></td>
                    <td><%= doc.created.strftime("%m/%d/%Y at %I:%M%p")%></td>
                    <td><%= doc.public ? 'Yes' : 'No' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<script type="text/javascript">
window.onload = function(){
    $("td").click(function(){
        var id = $(this).parent().children().first().text();
        c = this;
        location.pathname="/"+id+"/edit";
        console.log("blah: ",id);
    });
}
</script>

