<!doctype html>
<html>
	<head>
		<link rel="shortcut icon" href="/favicon.ico?v=3" />
        <title>WebSyn.ca</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <% if defined?(edit)&&edit %>
            <script type="text/javascript">
            // Variable: object WebSyncAuth;
            // This is an internal object used for authenticating the websocket connection.
            WebSyncAuth = {
                // Variable: int WebSyncAuth.id;
                // This is the websocket connection id. Each connection has a unique id.
                id:"<%= client_id %>",
                // Variable: int WebSyncAuth.key;
                // This is a randomly generated string used as an API key.
                key:"<%= client_key %>",
                view_op: "<%= op %>",
                websocket_port: <%= $config['websocket']['port'] %>,
                websocket_url: "<%= $config['websocket']['url'] %>"
            }
            // Variable: object WebSyncData;
            // This contains the data for the document. This is automatically synced with the server.
            WebSyncData = <%= MultiJson.dump(doc.body) %>;

            // Set document title.
            document.title = "<%= doc.name %> - WebSync";
            </script>
        <% end %>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41779193-1', 'websyn.ca');
          ga('send', 'pageview');

        </script>
	</head>
	<body class="<%= (defined?(op) && op)=="view" ? "view" : "edit" %>">
        <% if !(defined?(no_menu)&&no_menu) %>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" title="Created by Tristan Rice">WebSyn.ca</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <p class="navbar-text">is a document editing tool similar to Google Drive or Microsoft Skydrive.</p>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/public" title="Publicly Shared Documents"><i class="fa fa-archive fa-lg"></i> Shared</i></a>
            </li>
            <li>
                <a href="/upload" title="Upload"><i class="fa fa-lg fa-cloud-upload"></i></a>
            </li>
            <% if admin? %>
                <li>
                    <a href="/admin" title="Admin Control Panel"><i class="fa fa-cog fa-lg"></i></a>
                </li>
            <% end %>
            <li>
                <%= render_login_button %>
            </li>
        </ul>
    </div>
  </div><!-- /.navbar-collapse -->
</nav>
        <% end %>
		<%= yield %>
	</body>
    <%= stylesheet_tag 'default' %>
    <%= javascript_tag 'bundle-norm' %>
    <%= (defined?(edit)&&edit) ? javascript_tag('bundle-edit') : "" %>
    <% if !defined?(@javascripts).nil? %>
        <% @javascripts.each do |script| %>
            <script type="text/javascript" src="<%= script %>"></script>
        <% end %>
    <% end %>
    <script type="text/javascript">
        var tooltipHandle = function(){
            $('[data-toggle="tooltip"], nav [title]').tooltip({placement: 'bottom', container:'body'});
            $('[data-toggle="tooltip-top"]').tooltip({placement: 'top', container:'body'});
        }
        for(var i=0;i<6;i++){
            setTimeout(tooltipHandle, i*500 +1);
        }
    </script>
</html>
