<div class='container'>
    <div class="row">
        <div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "login.sign_in" %></h3>
  </div>
  <div class="panel-body">
  <form class="form-horizontal" action='login' method='post'>
    <input type="hidden" name="redirect" value="<%= env["QUERY_STRING"] %>">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="email"><%= t "login.email" %></label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name='email' id="email" placeholder="<%= t "login.email" %>">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="password"><%= t "login.password" %></label>
    <div class="col-sm-10">
      <input class="form-control" type="password" name='password' id="password" placeholder="<%= t "login.password" %>">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default"><%= t "login.sign_in" %></button>
    </div>
  </div>
</form>
</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "login.social_login" %></h3>
  </div>
  <div class="panel-body">
<% $config["omniauth"].each do |provider, options| %>
    <a class="btn btn-lg btn-login btn-primary" style="background-color: <%= options[:color] %>" href="/auth/<%= provider %>">
        <%= options[:tag] %>
    </a>
<% end %>
</div>
</div>
</div>

<div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t "login.register" %></h3>
      </div>
      <div class="panel-body">
      <form class="form-horizontal" action='register' method='post'>
        <input type="hidden" name="redirect" value="<%= env["QUERY_STRING"] %>">
      <div class="form-group">
    <label class="col-sm-2 control-label" for="email"><%= t "login.email" %></label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name='email' id="email" placeholder="<%= t "login.email" %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="password"><%= t "login.password" %></label>
        <div class="col-sm-10">
          <input class="form-control" type="password" name='password' id="password" placeholder="<%= t "login.password" %>">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default"><%= t "login.register" %></button>
        </div>
      </div>
    </form>
    </div>
</div>
</div>
    <%= erb :banner_ad %>

</div>
</div>
