<div class="container">
    <div class="page-header">
        <h1><%= t "upload.header" %></h1>
    </div>
    <p><%= t "upload.desc" %></p>
    <form class="form-horizontal" action='upload' enctype="multipart/form-data" method='post'>
        <div class="form-group">
            <label class="control-label col-sm-2" for="file"><%= t "upload.file" %></label>
            <div class="fileupload fileupload-new col-sm-10" data-provides="fileupload">
                <input name='file' type="file" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="checkbox" name="convert" checked> <%= t "upload.convert" %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary"><%= t "upload.upload" %></button>
            </div>
        </div>
    </form>
</div>
