<table id='word_count_info' class='table' style='margin: 0'>
  <thead>
    <tr>
      <th>
      </th>
      <th>Document</th>
      <th>Selection</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Words</th>
      <td><%= wordsDocument %></td>
      <td><%= wordsSelection %></td>
    </tr>
    <tr>
      <th>Characters</th>
      <td><%= characterDocument %></td>
      <td><%= characterSelection %></td>
    </tr>
    <tr>
      <th>... (no spaces)</th>
      <td><%= characterDocumentNoSpaces %></td>
      <td><%= characterSelectionNoSpaces %></td>
    </tr>
  </tbody>
</table>
